@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;

	
}
ul li {
	cursor: pointer;
	position: relative;
	display: flex;
	width: 10rem;
	height: 10rem;
	margin: 0.25rem;
	flex-flow: column;
	border-radius: 0.2rem;
	padding: 1rem;
	font-weight: 300;
	font-size: 0.8rem;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	
}

ul li time {
	font-size: 2rem;
	margin: 0 0 1rem 0;
	font-weight: 500;
}
ul li .today {
	
	background: #ffffff70;
}
ul li .today time {
	font-weight: 800;
}


.img{
	
	position: absolute;
	margin-top: 50% ;
	margin-left: 50%;
	transform: translateX(-90%) translateY(-90%);	
	display: none;
}
li:hover .img
{
  display: block !important;
}
li:hover{
	opacity: .4;
}

#form{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.25);
	position: fixed;
	top: 0vh;
	background-color: rgba(0, 0, 0, 0.58);
}
input,textarea{
	border: none;
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem;
	font-size: 1.5rem;
	width: 20rem;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
}
button{
	border: none;
	border-radius: 10px;
	padding: 20px;
	margin: 1rem;
	font-size: 1rem;
	
	cursor: pointer;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(2px);
}
button:hover{
	background: rgba(255, 255, 255, 0.85);
}
h3{
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
	color: #fff;
}


.tog{
	display: flex !important;
}




svg {
	position: fixed;
	z-index: 100;
  }
  
  circle:nth-of-type(1) { fill: #ffffff; }
  circle:nth-of-type(2) { fill: #fcd837; }
  circle:nth-of-type(3) { fill: #f9a11f; }
  circle:nth-of-type(4) { fill: #f27c21; }
  
  #clackers {
  /*   border: 1px solid white; */
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
  }
  #load{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.68);
	display: none;
  }
  
  #close{
	position: fixed;
	cursor: pointer;
	top: 100px;
	right: 100px;
	z-index: 100;
	width: 60px;
  }
  





